:root {
  --color-1: #e4e4e4;
  --color-2: #57deb1;
  --color-3: #d3d3d3;
  --color-4: #ed9c4a;
  --color-5: #999;
  --color-6: #505050;
  --color-7: #242424;
  --color-8: #b9b9b9;
  --bg-saturate: 0.7;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Pacifico";
  src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Helvetica, sans-serif;
}
main {
  min-height: 100vh;
}
