.desktop-navbar > div:nth-child(2) > a:nth-child(1),
#links > a:nth-child(1) {
  text-shadow: 0px 0px 12px var(--color-6);
}
.hero-image img {
  object-fit: cover;
  width: 100%;
  height: calc(100vh - 4rem);
  height: 100vh;
  border-bottom: 0.5rem solid var(--color-1);
  filter: brightness(0.9);
  position: relative;
  z-index: -1;
  /* fixing a bug involving a background overflow */
  margin: 0 0 -8px 0;
}
.hero-text {
  z-index: -1;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 40vh;
  text-shadow: 0px 0px 1rem black, 0px 0px 1rem black, 0px 0px 1rem black, 0px 0px 1rem black;
  font-size: 5rem;
  font-size: clamp(1.5rem, 10vw, 5rem);
}
.hero-text .welcome-text {
  color: var(--color-4);
  font-weight: bold;
  letter-spacing: -2px;
  margin: 0 0 -1rem 0;
}
.hero-text .brand {
  color: var(--color-6);
  font-family: "Pacifico";
  letter-spacing: 3px;
}
/************************************/
.introduction-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 40px;
  padding: 6rem 0.8rem 6rem 0.8rem;
  background-image: url(/Webseite/img/white-texture-2000w.webp);
  background-size: cover;
}
.introduction-text section {
  max-width: 60ch;
  margin: 0 0 0 auto;
}
.introduction-text h2 {
  font-size: 2rem;
  margin: 0 0 1.5rem 0;
}
.introduction-portrait img {
  height: clamp(10rem, 50vw, 20rem);
  border-radius: 50%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}
/************************************/
.slideshow {
  border-top: 0.5rem solid var(--color-1);
  border-bottom: 0.5rem solid var(--color-1);
}
.slideshow h2 {
  background-color: var(--color-4);
  filter: saturate(var(--bg-saturate));
  text-align: center;
  margin: 0;
  padding: 6rem 0 1.5rem 0;
  font-size: 2rem;
  font-size: clamp(1.5rem, 10vw, 2rem);
}
.cnt-slideshow {
  background-color: var(--color-4);
  filter: saturate(var(--bg-saturate));
  width: 100%;
  /*   height: 100vh; */
  /*   background-color: #222; */
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  padding: 0 0 6rem 0;
  /*   z-index: -1 !important; */
}
.swiper {
  /*   width: 80%;
  width: 50rem; */
  width: 40%;
  height: fit-content;
  position: relative;
}
.swiper-slide img {
  width: 100%;
  border-radius: 20px;
}
/* the controlling is made invisible due to bugs cousing them to not work */
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  /*   color: #ffffff00; */
  color: var(--color-7);
}
.swiper .swiper-pagination-bullet-active,
.swiper-pagination-bullet {
  /*   background-color: #ffffff00; */
  background-color: var(--color-7);
}
@media (max-width: 1120px) {
  .swiper {
    width: 80%;
  }
}
/************************************/
.opening-hours-wrapper {
  padding: 6rem 0;
  background-color: var(--color-6);
  filter: saturate(var(--bg-saturate));
}
.opening-hours-wrapper h2 {
  text-align: center;
  margin: 0;
  padding: 0 0 1.5rem 0;
  font-size: 2rem;
  font-size: clamp(1.5rem, 10vw, 2rem);
}
.opening-hours-table {
  display: flex;
  max-width: 20rem;
  padding: 0 0.8rem 0 0.8rem;
  margin: 0 auto;
  line-height: 1.5;
}
.day {
  flex: 1 1 auto;
  font-weight: bold;
}
.time {
  flex: 1 1 auto;
  text-align: end;
}
/************************************/
.map {
  background-color: var(--color-2);
  filter: saturate(var(--bg-saturate));
  padding: 0 0 6rem 0;
  border-top: 0.5rem solid var(--color-1);
  border-bottom: 0.5rem solid var(--color-1);
}
.map h2 {
  text-align: center;
  margin: 0;
  padding: 6rem 0 1.5rem 0;
  font-size: 2rem;
  font-size: clamp(1.5rem, 10vw, 2rem);
}
.map div {
  padding: 0 0.8rem 1rem 0.8rem;
}
.map iframe {
  width: 100%;
  height: 50vh;
}
.map div {
  text-align: center;
}
/************************************/
.payment-delivery {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a b"
    "c d";
  background-color: var(--color-6);
  filter: saturate(var(--bg-saturate));
}
.payment-delivery h2 {
  margin: 0;
  font-size: clamp(1rem, 7vw, 2rem);
}
.payment-delivery i {
  font-size: 2rem;
}
.payment-delivery > h2:nth-child(1) {
  margin: 0;
  grid-area: a;
  text-align: center;
  padding: 6rem 0 1.5rem 0;
}
.payment-delivery h2:nth-child(3) {
  margin: 0;
  text-align: center;
  grid-area: b;
  padding: 6rem 0 1.5rem 0;
}
.payment-delivery .payment {
  grid-area: c;
  display: flex;
}
.payment-delivery .payment .cash,
.payment-delivery .payment .card {
  width: 100%;
  text-align: center;
}
.payment-delivery .delivery {
  grid-area: d;
  text-align: center;
}
@media (max-width: 1000px) {
  .introduction-wrapper {
    background-image: url(/Webseite/img/white-texture-1000w.webp);
  }

  .payment-delivery {
    padding: 6rem 0.8rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
  }
  .payment-delivery > h2:nth-child(1) {
    grid-area: a;
  }
  .payment-delivery h2:nth-child(3) {
    grid-area: c;
  }
  .payment-delivery .payment {
    grid-area: b;
  }
  .payment-delivery .delivery {
    grid-area: d;
  }
  .payment-delivery > h2:nth-child(1) {
    padding: 0rem 0 1rem 0;
  }
  .payment-delivery h2:nth-child(3) {
    padding: 2rem 0 1rem 0;
  }
}
/************************************/
/* imprint */
body > main:nth-child(2) > h1:nth-child(1) {
  margin: 6rem auto 2rem auto;
  text-align: center;
  width: max-content;
}
body > main:nth-child(2) > h1:nth-child(1)::after {
  content: "";
  display: flex;
  height: 4px;
  width: 6ch;
  background-color: var(--color-2);
  justify-self: center;
  margin: -0.5rem auto 0 auto;
  font-size: 3rem;
}
.cnt-imp {
  margin: 0 auto;
  padding: 1rem 0.8rem;
  background-color: var(--color-1);
  max-width: 40rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 14px;
}
.cnt-imp .left div,
.cnt-imp .right div {
  padding: 0.5rem;
}
.cnt-imp .left div:nth-child(odd),
.cnt-imp .right div:nth-child(odd) {
  background-color: var(--color-2);
  filter: saturate(var(--bg-saturate));
}
.cnt-imp .left div:nth-child(even),
.cnt-imp .right div:nth-child(even) {
  background-color: var(--color-6);
  filter: saturate(var(--bg-saturate));
}
.cnt-imp .left div:nth-child(odd),
.cnt-imp .left div:nth-child(even) {
  padding: 0.5rem 0rem 0.5rem 0.5rem;
}
.cnt-imp .bottom {
  grid-column: span 2;
  margin: 2rem 0 0 0;
}
