.desktop-navbar > div:nth-child(2) > a:nth-child(2),
#links > a:nth-child(2) {
  text-shadow: 0px 0px 12px var(--color-8);
}

.container {
  display: grid;
  grid-template-columns: 320px auto;
  padding: 0 1rem 6rem 1rem;
  margin: 2rem 0;
  column-gap: 1rem;
}
.container h1 {
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  grid-column: span 2;
}
.container h1::after {
  content: "";
  display: flex;
  height: 4px;
  width: 7ch;
  background-color: var(--color-2);
  justify-self: center;
  margin: -0.5rem auto 0 auto;
  font-size: 3rem;
}
/************************************/
.container .product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  gap: 1rem;
  justify-content: center;
  justify-items: center;
}
.container .product-container .card {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 30rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
}
.img-wrapper {
  overflow: hidden;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  width: 100%;
  height: 100%;
}
.container .product-container .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 100ms linear;
}

.container .product-container .card img:hover {
  transform: scale(1.1);
}
.product-detail {
  padding: 0.8rem;
  background-color: var(--color-1);
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.product-titel {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.5px;
}
.product-price {
  margin: 0.4rem 0 0.5rem 0;
  font-weight: bold;
}
.product-description {
  margin: 0;
  color: var(--color-7);
  line-height: 1.35;
}
/************************************/
.container .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.596);
  height: 100%;
  width: 100%;
  z-index: 1;
  display: none;
}
.container .popup-image span {
  position: absolute;
  top: 4rem;
  right: 10px;
  font-size: 40px;
  font-weight: bold;
  color: azure;
  cursor: pointer;
  z-index: 2;
}
.container .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  border-radius: 14px;
  /*   width: 750px; */
  height: 80%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .container .popup-image img {
    width: 95%;
  }
  .container .product-container {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1.5rem;
  }
}
/************************************/
.filter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
  width: 320px;
  width: max-content;
  width: min-content;
  height: min-content;
}
.filter h2 {
  grid-column: span 2;
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}
.filter h2::before {
  content: "";
  display: block;
  height: 3px;
  width: 5rem;
  width: 50%;
  margin: 0 0 -2px 0;
  border-radius: 20px;
  background-color: var(--color-2);
}
.filter h2::after {
  content: "";
  display: block;
  height: 3px;
  width: 5rem;
  width: 50%;
  margin: -2px 0 0 0;
  border-radius: 20px;
  background-color: var(--color-2);
}
.filter label {
  /*   display: block; */
  padding: 5px 0px 5px 1.8rem;
  margin: 4px 0;
  background-color: var(--color-1);
  border-radius: 14px;
  width: 7.6rem;
}
.filter label:hover {
  outline: 2px solid var(--color-6);
}
.filter label:active {
  background-color: var(--color-5);
}
.box {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}
/* Hide the default style of the checkbox */
input[type="checkbox"] {
  visibility: hidden;
}
/* Create a custom checkbox */
.mark {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  height: 0.9rem;
  width: 0.9rem;
  background-color: #a9a9a9;
  border-radius: 3px;
}
/* Specify the background color for the checkbox while hovering */
/*       .box:hover input + .mark {
  background-color: #1c87c9;
} */
/* Specify the background color for the checkbox when the checkbox is active */
/*       .box input:active + .mark {
  background-color: #ffcc00;
} */
/* Specify the background color for the checkbox when it is checked */
.box input:checked + .mark {
  background-color: var(--color-6);
}
/* Checkmark to be shown in checkbox */
/* It will not be shown when not checked */
.mark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Display checkmark when checked */
.box input:checked + .mark:after {
  display: block;
}
/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and showing only two border to make it look like a tick mark */
.box .mark:after {
  left: 4px;
  bottom: 3px;
  width: 3px;
  height: 7px;
  border: solid #e6e6e6;
  border-width: 0 3px 3px 0;
  border-radius: 1px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/************************************/
.price-range-slider-cnt input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.price-range-slider-cnt {
  width: 300px;
  grid-column: span 2;
}
.price-range-slider-cnt h2 {
  margin: 2rem 0 1rem 0;
}
.price-input {
  width: 100%;
  display: flex;
  margin: 0rem 0 0.8rem 0;
}
.price-input .field {
  display: flex;
  width: 100%;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  margin: 0 0 0 0.5rem;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  font-family: "Poppins", Helvetica, sans-serif;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.slider {
  height: 5px;
  position: relative;
  background: var(--color-4);
  background-color: var(--color-7);
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background-color: var(--color-6);
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17a2b8;
  background-color: black;
  background-color: var(--color-6);
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  background-color: black;
  background-color: var(--color-6);
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.reset-button {
  all: unset;
  width: 90%;
  grid-column: span 2;
  margin: 2rem auto 0 auto;
  background-color: var(--color-1);
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 14px;
}
.reset-button:hover {
  outline: 2px solid var(--color-6);
}
.reset-button:active {
  background-color: var(--color-5);
}
.filter-toggle {
  display: none;
}
/* 









*/
/* mobile layout */
@media (max-width: 1120px) {
  .container h1,
  .filter h2,
  .price-range-slider-cnt,
  .reset-button {
    grid-column: 1 / -1;
  }
  .filter h2 {
    width: 90%;
    width: 100%;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 1rem 6rem 1rem;
    column-gap: 1rem;
  }
  .filter-toggle {
    display: block;
    grid-column: 1 / -1;
    background-color: var(--color-1);
    border-radius: 14px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .filter-toggle:hover {
    outline: 2px solid var(--color-6);
  }
  @keyframes rotateUp {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  @keyframes rotateDown {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  .filter {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-items: center;
    column-gap: 0.5rem;
    margin: 1rem 0 0 0;
    width: 100%;
    height: min-content;
  }
  .price-range-slider-cnt {
    width: 90%;
    width: 100%;
  }
  .reset-button {
    width: 17rem;
  }
  .container .product-container {
    margin: 1rem 0 0 0;
  }
}
