:root {
  --ball-geo: 120px;
  --anim-del: 100ms;
  --left-gap: 20px;
}

body {
  margin: 0;
  background-color: #85b6ff;
  font-family: arial;
  position: relative;
}

.zuruck {
  background-color: gold;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  width: max-content;
}

.zuruck:hover,
.zuruck:focus {
  background-color: rgb(224, 191, 0);
  text-decoration: underline;
}

.wrapper .h1-cnt {
  display: flex;
  justify-content: center;
}

.wrapper h1 {
  font-size: 5rem;
  color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  margin-block: 2rem;
  text-align: center;
  display: inline-block;
  animation: title 1000ms ease-out 1 forwards;
}

@keyframes title {
  from {
    color: rgba(255, 255, 255, 0);
    background-color: #75acff00;
    letter-spacing: -1rem;
  }
  to {
    color: #1ac114;
    background-color: rgb(62, 62, 253);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
      0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  }
}

hr {
  background-color: rgb(255, 255, 255);
  box-align: center;
  height: 6px;
  width: 95vw;
  border: 0 none;
  border-radius: 5px;
}
.boxes {
  display: flex;
  gap: 2rem;
  margin-block: 2rem;
}

.boxes :nth-child(1) {
  margin: 0 0 0 auto;
}
.boxes :nth-child(2) {
  margin: 0;
}

.boxes :nth-child(3) {
  margin: 0 auto 0 0;
}

.anim-1 {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: crimson;
  animation: anim 1500ms infinite;
}

@keyframes anim {
  from {
    transform: scale(0.00000001);
    border-radius: 100%;
    opacity: 0;
  }
  30% {
    transform: scale(1);
    border-radius: 0%;
    opacity: 1;
  }
  to {
  }
}

.anim-2 {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: darkgoldenrod;
  animation: anim 1500ms 500ms infinite;
}

.anim-3 {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: darkolivegreen;
  animation: anim 1500ms 1000ms infinite;
}

.football {
  width: 500px;
  height: 200px;
  border: 5px solid black;
  margin: 2rem auto;
  background-color: rgba(210, 255, 9, 0.664);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
}

.ball-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--ball-geo);
  height: var(--ball-geo);
  position: absolute;
  bottom: -18px;
  left: -18px;
  animation: rolling 3000ms ease-in-out infinite alternate;
}

.ball {
  font-size: 5rem;
  line-height: 0rem;
  font-weight: 100;
}

@keyframes rolling {
  from {
    transform: rotate(0deg);
    left: -18px;
    bottom: -18px;
  }
  40% {
    bottom: -17.5px;
  }
  50% {
    bottom: -17px;
  }
  60% {
    bottom: -17.5px;
  }
  to {
    transform: rotate(360deg);
    left: 400px;
    bottom: -18px;
  }
}

.circle-cnt {
  height: 100px;
  width: 400px;
  display: flex;
  padding-left: 60px;
  margin: 0 auto;
  transform: translate(0, 20px);
}

.circle {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #f1931b;
  animation: circle-movement 1000ms infinite;
}

.circle:nth-child(1) {
  left: calc(1 * var(--left-gap));
}

.circle:nth-child(2) {
  left: calc(2 * var(--left-gap));
  animation-delay: calc(2 * var(--anim-del));
}

.circle:nth-child(3) {
  left: calc(3 * var(--left-gap));
  animation-delay: calc(3 * var(--anim-del));
}

.circle:nth-child(4) {
  left: calc(4 * var(--left-gap));
  animation-delay: calc(4 * var(--anim-del));
}

.circle:nth-child(5) {
  left: calc(5 * var(--left-gap));
  animation-delay: calc(5 * var(--anim-del));
}

.circle:nth-child(6) {
  left: calc(6 * var(--left-gap));
  animation-delay: calc(6 * var(--anim-del));
}

.circle:nth-child(7) {
  left: calc(7 * var(--left-gap));
  animation-delay: calc(7 * var(--anim-del));
}

.circle:nth-child(8) {
  left: calc(8 * var(--left-gap));
  animation-delay: calc(8 * var(--anim-del));
}

@keyframes circle-movement {
  from {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    background-color: #f1931b;
  }
  50% {
    transform: translate(0, 50px) scale(0.4);
    opacity: 0.5;
    background-color: #c0334d;
  }
  to {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    background-color: #f1931b;
  }
}

/* mobile layout */

@media (max-width: 700px) {
  .boxes div {
    width: 25vw;
    height: 25vw;
  }
  .wrapper h1 {
    font-size: 4rem;
  }
}
