body {
  margin: 0;
  background-color: #85b6ff;
  font-family: arial;
  position: relative;
}

.zuruck {
  background-color: gold;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  width: max-content;
}

.zuruck:hover,
.zuruck:focus {
  background-color: rgb(224, 191, 0);
  text-decoration: underline;
}

.wrapper .h1-cnt {
  display: grid;
  justify-content: center;
}

.wrapper h1 {
  font-size: 5rem;
  color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  margin-block: 2rem;
  text-align: center;
  display: inline-block;
  animation: title 1000ms ease-out 1 forwards;
}

@keyframes title {
  from {
    color: rgba(255, 255, 255, 0);
    background-color: #75acff00;
    letter-spacing: -1rem;
  }
  to {
    color: #1ac114;
    background-color: rgb(62, 62, 253);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
      0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  }
}

hr {
  background-color: rgb(255, 255, 255);
  box-align: center;
  height: 6px;
  width: 95vw;
  border: 0 none;
  border-radius: 5px;
}
.boxes {
  display: flex;
  gap: 2rem;
  margin-block: 2rem;
}

.boxes :nth-child(1) {
  margin: 0 0 0 auto;
}
.boxes :nth-child(2) {
  margin: 0;
}

.boxes :nth-child(3) {
  margin: 0 auto 0 0;
}

.anim-1 {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: crimson;
  animation: anim 1500ms infinite;
}

@keyframes anim {
  from {
    transform: scale(0.00000001);
    border-radius: 100%;
    opacity: 0;
  }
  30% {
    transform: scale(1);
    border-radius: 0%;
    opacity: 1;
  }
  to {
  }
}

.anim-2 {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: darkgoldenrod;
  animation: anim 1500ms 500ms infinite;
}

.anim-3 {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: darkolivegreen;
  animation: anim 1500ms 1000ms infinite;
}

/* mobile layout */

@media (max-width: 700px) {
  .boxes div {
    background-color: green;
    width: 25vw;
    height: 25vw;
  }
}
