:root {
  --bg: rgb(199, 247, 160);
  --head-cnt: rgb(168, 245, 158);
  --head: rgb(140, 219, 133);
  --tbl-even: rgb(216, 215, 215);
  --tbl-odd: rgb(185, 185, 185);
  --footer: rgb(140, 219, 133);
  --inha-bg: rgb(221, 255, 217);
  --inha-a-bot-bord: rgba(0, 0, 0, 0.15);
  --link-hover: rgb(116, 193, 111);
}

/*********************
    desktop layout
*********************/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1rem;
  background-color: var(--bg);
  position: relative;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(275.984px, 1fr) repeat(8, 1fr);
  grid-template-rows: 100px auto 50px;
}

.head {
  background-color: var(--head);
  grid-column: 1 / -1;
  display: flex;
  align-content: center;
  margin-bottom: 10px;
}

.aside {
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  position: relative;
}

.content {
  grid-column: 2 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem 0 0.5rem;
  justify-content: left;
}

.footer {
  background-color: var(--footer);
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

/* Unorderd list */

#unorderd-list li {
  line-height: 1.5rem;
  padding-left: 5px;
  list-style-type: "🎂";
}

/* Table */

.gdp li {
  padding-left: 0.5rem;
  margin-top: 0.2rem;
}

.gdp caption {
  font-size: 1.5em;
  font-weight: bolder;
  margin: 1.7rem 0px 0.7rem 0px;
}

.gdp .tbl_country {
  text-align: left;
  font-weight: bolder;
}

.gdp th {
  border: 2px solid black;
  padding: 10px 20px;
}

.gdp td {
  text-align: center;
  border: 2px solid black;
  padding: 10px 20px;
}

.gdp {
  border-collapse: collapse;
  border: 4px solid black;
}

.gdp tr:nth-child(even) {
  background-color: var(--tbl-even);
}

.gdp tr:nth-child(odd) {
  background-color: var(--tbl-odd);
}

/* Quelle */

.quelle {
  text-align: right;
  margin: 1rem 0 1rem 0;
  font-size: 0.8rem;
  opacity: 0.7;
  color: grey;
}
.quelle a {
  color: grey;
  overflow-wrap: anywhere;
}

.quelle a:hover,
.quelle a:focus {
  color: blue;
}

/* Bilder */

.img_cake {
  width: 400px;
  margin-left: 1rem;
  border-radius: 15px;
}

/* st Inhaltsverzeichnis */

.inha {
  position: sticky;
  top: 1rem;
  padding: 0.5rem;
  height: min-content;
  background-color: var(--inha-bg);
  line-height: 1.5rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.inha div {
  font-weight: bold;
}

.inha ul {
  padding-left: 19px;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.inha a {
  text-decoration: none;
  color: black;
  line-height: 1.2rem;
  font-size: 0.9rem;
  border-bottom: 1px solid var(--inha-a-bot-bord);
}

.inha a:hover,
.inha a:focus {
  color: white;
  border-bottom: hidden;
  background-color: var(--link-hover);
}

/* Paragraph */

#paragraph {
  margin-top: 0;
}

.text {
  max-width: 150ch;
  line-height: 1.5rem;
}

/* Ordered list */

.ol-cnt {
  display: grid;
  grid-auto-flow: column;
  margin-bottom: 0px;
}

.ol-cnt ol {
  margin-top: 0;
  max-width: 100ch;
}

.ol-cnt li {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.ol-cnt img {
  justify-self: left;
}

/* Description list */

#description-list h2 {
  margin-bottom: 0;
}

#description-list dt {
  margin-top: 0.8rem;
}

#description-list dl :nth-child(1) {
  background-color: red;
  color: white;
  padding: 5px 0px 5px 5px;
  margin-top: 0;
  width: 420px;
}

#description-list dl :nth-child(3) {
  background-color: green;
  color: white;
  padding: 5px 0px 5px 5px;
  width: 420px;
}

#description-list dl :nth-child(5) {
  background-color: blue;
  color: white;
  padding: 5px 0px 5px 5px;
  width: 420px;
}

/* Footer */

.footer .music {
  opacity: 0;
}

.footer .music:hover {
  opacity: 1;
}

/* Head */

.head .h1_cnt {
  background-color: var(--head-cnt);
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: max-content;
}

.head h1 {
  text-align: center;
  font-size: 2.5rem;
  font-size: clamp(2rem, 10vw, 2.5rem);
  margin: 0;
  padding: 2px 0px;
}

/* Links */

#links div {
  margin-bottom: 2rem;
}

#links a {
  line-height: 1.5rem;
  font-size: 1.3rem;
}

#links a:hover,
#links a:focus {
  color: white !important;
  border-bottom: hidden;
  background-color: var(--link-hover);
  text-decoration: none;
}

#links a:any-link {
  color: #0000ee;
}

/* nd Inhaltsverzeichnis */

.nd_inha {
  position: absolute;
  display: none;
  user-select: none;
}

/*********************
    tablet layout
*********************/

@media (max-width: 1000px) {

  /* nd Inhaltsverzeichnis */

  .nd_inha {
    position: relative;
    display: flex;
  }
  .icon-burgermenu {
    font-size: 3rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.13);

  }
  .btn-nd-inha > span:nth-child(2) {
    font-size: 1.5rem;
    display: inline-flex;
    transform: translateY(-32%);
    margin-left: -.5rem;
  }
  .nd_inha-menu {
    display: none;
    width: max-content;
    background-color: var(--head);
    padding: 1rem;
  }
  .nd_inha-menu a {
    margin-top: 0.9rem;
    display: block;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 1px solid var(--inha-a-bot-bord);
  }
  .nd_inha-menu :nth-child(1) {
    margin-top: 0;
  }
  .nd_inha-menu a:hover,
  .nd_inha-menu a:focus {
    color: white;
    border-bottom: hidden;
    background-color: var(--link-hover);
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }

  .nd_inha {
    position: relative;
  }
  button {
    all: unset;
  }
  .btn-nd-inha {
    display: inline-block;
    background-color: var(--inha-bg);
    cursor: pointer;
  }

  .nd_inha-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
  }

  .nd_inha:focus-within .nd_inha-menu {
    display: block;
  }

  .wrapper {
    grid-template-rows: 100px auto auto 50px;
    grid-template-columns: 100%;
  }

  .ol-cnt {
    grid-auto-flow: row;
  }

  .img_cake {
    margin-inline: auto;
    width: 80%;
  }

  .content {
    grid-column: 1/ -1;
    padding-inline: 0.5rem;
    overflow-wrap: break-word;
    width: auto;
  }

  .gdp {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .inha {
    display: none;
    user-select: none;
    position: absolute;
  }

  .aside {
    justify-content: flex-start;
    padding-inline: 1rem;
    height: auto;
    border-bottom: 4px solid var(--head);
    margin-bottom: 1rem;
    background-color: var(--inha-bg);
    grid-column: 1 / -1;
  }

  .head {
    margin-bottom: 0;
  }
}

/*********************
    mobile layout
*********************/

@media (max-width: 500px) {
  #description-list dl :nth-child(1) {
    width: 98%;
  }

  #description-list dl :nth-child(3) {
    width: 98%;
  }

  #description-list dl :nth-child(5) {
    width: 98%;
  }

  .head h1 {
    font-size: 2rem;
    font-size: clamp(2rem, 10vw, 2.5rem);
  }

  .nd_inha-menu {
    width: 80vw;
    max-width: max-content;
    font-size: 1rem;
  }

  .nd_inha-menu a {
    font-size: 1.1rem;
  }

  .img_cake {
    margin-inline: auto;
    width: 100%;
    height: 100%;
  }

  .gdp {
    width: 100%;
    height: 100%;
    font-size: 4vw;
    margin: 0 auto;
  }

  .gdp li {
    padding-left: 0.5rem;
    margin-top: 0.2rem;
  }

  .gdp caption {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 1.7rem 0px 0.7rem 0px;
  }

  .gdp .tbl_country {
    text-align: left;
    font-weight: bolder;
  }

  .gdp th {
    padding: 4px 4px;
  }

  .gdp td {
    padding: 4px 4px;
  }

  .ol-cnt ol {
    padding-left: 25px;
  }

  #unorderd-list ul {
    padding-left: 25px;
  }
}
